.pessoa__imagem {
  height: 300px;
  aspect-ratio: 1;
  border-radius: 100vmax;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pessoa__imagem[data-pessoa="roberta"] {
  background-image: url("../../img/pessoas/roberta.jpg");
}

.pessoa__imagem[data-pessoa="marcela"] {
  background-image: url("../../img/pessoas/marcela.jpg");
}
.pessoa__imagem[data-pessoa="andreia"] {
  background-image: url("../../img/pessoas/andreia.jpg");
}
