.receita__botao {
  --cor: var(--cls-vinho);
  padding: 1rem;
  color: #fdfdfd;
  background-color: var(--cor);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}

.receita__botao:hover,
.receita__botao:focus {
  --cor: hsl(0, 72%, 59%);
}
