---
import Layout from "../layouts/Layout.astro";
import Cabecalho from "../components/Cabecalho.astro";
import Banner from "../components/Banner.astro";
import Sobre from "../components/Sobre.astro";
import Receitas from "../components/Receitas.astro";
import QuemSomos from "../components/QuemSomos.astro";
import Rodape from "../components/Rodape.astro";
---

<Layout title="Welcome to Astro.">
  <Cabecalho />
  <Banner />
  <main>
    <Sobre />
    <Receitas />
    <QuemSomos />
  </main>
  <Rodape />
</Layout>

<style>

</style>
