<section class="sobre">
  <h2 class="sobre__titulo">Receitas para economizar e ganhar saúde</h2>
  <p class="sobre__descricao">
    Nossas receitas ajudam você a aproveitar melhor os alimentos, economizar,
    ganhas tempo e praticidade
  </p>
</section>

<style>
  .sobre {
    text-align: center;
    padding: 2.5rem 1rem;
  }

  @media screen and (min-width: 768px) {
    .sobre {
      padding: 2.5rem;
    }
  }
  .sobre__titulo {
    color: var(--cls-vinho);
    font-family: var(--ff-pacifico);
    font-size: clamp(2rem, 2vw + 1rem, 3.1875rem);
  }

  .sobre__descricao {
    color: #595959;
    font-size: 1.75rem;
    font-size: clamp(1.3rem, 1vw + 1rem, 1.75rem);
    font-weight: 300;
    margin-top: 1rem;
  }
</style>
